#pasta exercicios

exercicios/node_modules
exercicios/package-lock.json
exercicios/.next


#pasta tabuleiro

tabuleiro/node_modules
tabuleiro/package-lock.json
tabuleiro/.next


#pasta next-basico

next-basico/node_modules
next-basico/package-lock.json
next-basico/.next


#pasta portas

portas/node_modules
portas/package-lock.json
portas/.next



#pasta renderizacao

renderizacao/node_modules
renderizacao/package-lock.json
renderizacao/.next


#pasta quiz

quiz/node_modules
quiz/package-lock.json
quiz/.next